<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>characters</title>
</head>
<body>
<header>
    <h1>The Rick and Morty API</h1>
</header>
<form method="get" action="/charactersName">
    <input type="search" name="name" placeholder="Search by name">
</form>
<div class="block">
    <div class="character" th:each="entry : ${characters}" th:with="episode=${entry.value}, character=${entry.key}">
        <img th:src="${character.getImage()}" th:alt="${character.getName()}">
        <div class="text">
            <h2 th:text="${character.getName()}"></h2>
            <p th:text="|${character.getStatus()} - ${character.getSpecies()} - ${character.getGender()}|"></p>
            <p>Last known location:</p>
            <h4 th:text="${character.getLocation().getName()}"></h4>
            <p>Origin planet:</p>
            <h4 th:text="${character.getOrigin().getName()}"></h4>
            <p>First seen in :</p>
            <h4 th:text="${episode}"></h4>
        </div>
    </div>
</div>
</body>
</html>